html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto-Bold.ttf');
}

.info {
  cursor: help;
}

.info .dot {
  position: absolute;
  background-color: whitesmoke;
  border-radius: 100%;
  transition: all 0.5s ease-in-out;
  will-change: transform;
  width: 12px;
  height: 12px;
  animation: vibrate 3s cubic-bezier(0.075, 0.82, 0.165, 1) infinite,
    scaling 40s cubic-bezier(0.075, 0.82, 0.165, 1) 20s infinite;
}

.info .text {
  position: absolute;
  font-family: 'Roboto';
  color: white;
  padding: 15px;
  min-width: 300px;
  font-size: 14px;
  transform: scale(0);
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  transform-origin: top left;
  will-change: transform;
}

.info:hover .dot {
  opacity: 0;
  transform: scale(0);
}
.info:hover .text {
  background-color: #34343477;
  transform: scale(1);
  border-radius: 4px;
}

@keyframes vibrate {
  0% {
    box-shadow: 0;
  }

  25% {
    box-shadow: 0 0 0 2px #ffffff44, 0 0 0 6px #ffffff44;
  }

  50% {
    box-shadow: 0;
  }

  75% {
    box-shadow: 0 0 0 2px #ffffff44, 0 0 0 6px #ffffff44;
  }
  100% {
    box-shadow: 0 0 0 0 #ffffff44, 0 0 0 0 #ffffff44;
  }
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }

  2% {
    transform: scale(2);
  }

  6% {
    transform: scale(1);
  }
}
